// Insert your styling here.
.node-article.contextual-links-region h2 {
  a {
    text-transform: uppercase;
    &:hover,&:active,&:visited,&:link {
      text-decoration: none;
      color:@brand-primary;
    }
  }
}
