@import 'adbanner.less';

// Insert your styling here.
.navbar-header {
  position: fixed;
  top: 0px;
  left: 50%;

  width: 90px;
  margin-left: -45px !important;

  img {
    width: 90px;
  }

  .navbar-toggle {
    position: fixed;
    right: 0px;
    top: 20px;
  }
}

.header-text {
  text-transform: uppercase;
  font-weight: bold !important;
}

.navbar-collapse, .navbar-collapse li > a {
  .header-text;

  &.collapsing, &.in {
    margin-top: 90px;
  }

  .primary-nav > li{
    margin-right: 2.2em;
  }
}

.dropdown-menu, .dropdown-menu > li > a {
  .header-text;
}

@media screen and (min-width: @screen-sm-min) {
  body {
    margin-top: 100px;
  }

  .navbar-collapse .primary-nav > li {
    margin-right: 0em;
  }
}

@media screen and (min-width: @screen-md-min) {
  body {
    margin-top: 0px;
  }

  .navbar-collapse .primary-nav > li {
    margin-right: 2.2em;
  }
}

.navbar-nav.secondary {
  @media screen and (min-width: @screen-sm-min) {
    > li.last {
      .flag-menu-item(64px, -6px);
    }
  }
}